<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prideful Essence</title>
</head>
<body>
    
    <navbar>
        
    </navbar>
    <about>

    </about>
    mark date <br>
    share your first story <br>
    ask your question anonymously (forum type) <br>
    Blogs <br>
    faqs PCoD PCoS Self Care Self Hygiene <br>
    Chat Room <br>
    Poll <br>
    <a href="contact">contact</a>

    <a href="signup">signup</a>

</body>  

</html>